interval: 5
status_interval_threshold: 10
mqtt:
  broker: host
  port: 1883
  username:
  password:
  client_id:
  topic: ble_tag/status
  qos: 1
devices:
  - address: xx:xx:xx:xx:xx:xx
    topic: user1
    payload: tag1
    ble:
      MR: -77.8746
      N: 2.00544811
