[Unit]
Description=Simpleble2mqtt - Ble beacon detection on MQTT

[Service]
Type=idle
WorkingDirectory=/home/pi/simpleble2mqtt
ExecStart=/home/pi/simpleble2mqtt/simpleble2mqtt.py -s
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
