[Units]
Description=Simple2mqtt - Ble beacon detection on MQTT

[Service]
Type=idle
WorkingDirectory=/home/jrk/simple2mqtt
ExecStart=/home/jrk/simple2mqtt/simple2mqtt.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
